{{#each data}}
<section>
    <h2>{{class_name}}</h2>

    {{#each species}}
        {{#if common_name.common_name}}
            <p>{{genus.genus_name}} {{species_name}} - {{common_name.common_name}}</p>
        {{else}}
            <p>{{id}} {{genus.genus_name}} {{species_name}}</p>
        {{/if}}
    {{/each}}
</section>

<hr>
{{/each}}